In [14]:
import cml.data_v1 as cmldata

# Sample in-code customization of spark configurations
#from pyspark import SparkContext
#SparkContext.setSystemProperty('spark.executor.cores', '1')
#SparkContext.setSystemProperty('spark.executor.memory', '2g')

CONNECTION_NAME = "se-aws-edl"
conn = cmldata.get_connection(CONNECTION_NAME)
spark = conn.get_spark_session()

# Sample usage to run query through spark
EXAMPLE_SQL_QUERY = "show databases"
spark.sql(EXAMPLE_SQL_QUERY).show()

Spark Application Id:spark-6fe8d21249c2421bbf5112bdd2f13d1f

Hive Session ID = a67ae23f-0f7c-49c7-8dd9-a175697bd966

+--------------------+
|           namespace|
+--------------------+
|   amiranda_airlines|
|amiranda_airlines...|
|bnk_mlops_hol_oza...|
|             default|
|  information_schema|
|                 sys|
+--------------------+

In [15]:
# Show tables in bnk_mlops_hol_ozarate
print("Tables in bnk_mlops_hol_ozarate:")
spark.sql("SHOW TABLES IN bnk_mlops_hol_ozarate").show(truncate=False)

Tables in bnk_mlops_hol_ozarate:

+---------------------+----------------------+-----------+
|namespace            |tableName             |isTemporary|
+---------------------+----------------------+-----------+
|bnk_mlops_hol_ozarate|bank_marketing_ozarate|false      |
+---------------------+----------------------+-----------+

In [5]:
# # Drop the unwanted database
# # spark.sql("DROP DATABASE bnk_mlops_hol_test CASCADE")
# # List current databases
# print("Before dropping:")
# spark.sql("SHOW DATABASES").show(truncate=False)

# # Try to drop with error handling
# try:
#     spark.sql("DROP DATABASE bnk_mlops_hol_test CASCADE")
#     print("Successfully dropped bnk_mlops_hol_test")
# except Exception as e:
#     print(f"Error dropping database: {str(e)}")

# # Verify
# print("After dropping:")
# spark.sql("SHOW DATABASES").show(truncate=False)

# List current databases
print("Before dropping:")
spark.sql("SHOW DATABASES").show(truncate=False)

# Drop the correct database
try:
    spark.sql("DROP DATABASE bnk_mlops_hol_test_ozarate CASCADE")
    print("Successfully dropped bnk_mlops_hol_test_ozarate")
except Exception as e:
    print(f"Error dropping database: {str(e)}")

# Verify
print("After dropping:")
spark.sql("SHOW DATABASES").show(truncate=False)

Before dropping:
+--------------------------+
|namespace                 |
+--------------------------+
|amiranda_airlines         |
|amiranda_airlines_raw     |
|bnk_mlops_hol_ozarate     |
|bnk_mlops_hol_test_ozarate|
|default                   |
|information_schema        |
|sys                       |
+--------------------------+

Successfully dropped bnk_mlops_hol_test_ozarate
After dropping:
+---------------------+
|namespace            |
+---------------------+
|amiranda_airlines    |
|amiranda_airlines_raw|
|bnk_mlops_hol_ozarate|
|default              |
|information_schema   |
|sys                  |
+---------------------+

In [7]:
import os
os.environ["PROJECT_OWNER"]

'ozarate'

In [8]:
os.environ["CONNECTION_NAME"]

'se-aws-edl'

In [11]:
USERNAME = os.environ["PROJECT_OWNER"]
DBNAME = "bnk_mlops_"+USERNAME

In [12]:
DBNAME

'bnk_mlops_ozarate'

In [13]:
spark.stop()